.form {
    margin-top: 22px;
    background-color: white;
    border-radius: 7px;
    padding: 40px;
}

.formControlWrapper {
    position: relative;
}

.formControlWrapper~.formControlWrapper {
    margin-top: 25px;
}

.formControl {
    width: 100%;
    padding: 20px 35px;
    border-radius: 7px;
}

.textInput {
    border: 1px solid #dedede;
}

.submitBtn {
    color: white;
    background-color: #39cb8a;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

.submitBtn:active {
    background-color: #77e2b4;
}

.termsAndServices {
    text-align: center;
    color: #bebdc2;
    padding: 0 45px;
    font-size: 0.75rem;
}

.termsAndServices>a {
    text-decoration: none;
    color: #e8848c;
    font-weight: 600;
}

.invalidEmail {
    color: #e8848c;
}

.textInputError {
    border: 2px solid #e8848c;
}

.errorMsg {
    display: block;
    text-align: right;
    color: #e8848c;
    font-size: 0.8rem;
    font-style: italic;
    margin: 5px;
}

.errorIcon {
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.errorIcon.visible {
    display: block;
}