:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: white;
    background-color: #ff7978;
    background-image: url(assets/images/bg-intro-desktop.png);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.text-bold {
    font-weight: 600;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}